nav{
    background-color: palevioletred;
    overflow: hidden;
    border: 6px solid black;
    border-radius: 2px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    color: bisque;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color:whitesmoke;
    color: black;
}
section{
    background-color: whitesmoke;
    padding: 20px;
    border: 6px solid black;
    border-radius: 10px;
}
div.div-1 {
    background-color: white;
    border: 6px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

div.team-image {
    text-align: center;
    margin-top: 20px;
    object-fit: contain;
    width: 120px;
    height:auto;
    padding-left:0px;
}
ul .services-list {
    list-style-type: square;
    padding-right: 30px;
}
